@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#1B3A57; /*Nav, Footer, Buttons & Links*/
    --secondary-color:#00BCD4;/*Buttons, Icons and Accents, Hover Effects*/
    --accent-color:#f1b604;/*Highlights, Buttons, Section Dividers*/
    --bg-color:#F5F5F5;/*body bg, section bg*/
    --text-color:#333333;/*Body Text, Headings*/
    --lg-font:5.5rem;
    --md-font:4rem;
    --sm-font:2.5rem;
    --xsm-font:1.2rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
    font-weight: 500;
  }
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
html{
  scroll-behavior: smooth;
}

section{
  max-width: 1500px;
  margin: 0 auto; 
  padding: 0 20px;
}
.main-section{
  padding-block: 50px;
  min-height: 100vh;
}
.sub-section{
  min-height: 50vh;
  margin-block:30px;
  padding-block: 20px;
}
.sect-name{  
  margin-top: 30px !important;
  color: var(--primary-color);
  font-size: var(--lg-font);
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: max-content;
  margin: auto;
  padding-inline: 30px;
  padding-block: 10px;
  border-left: 5px solid var(--secondary-color);
}
.sub-sect-name{
  padding-top: 50px;
  text-align: center;
  color: var(--text-color);
  font-size: calc(var(--md-font) + .8rem);
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.2;
}

.sub-sect-name span{
  color: var(--accent-color);
  margin-inline-start: 7px;
}
hr{
  border: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}
button{
  height: 40px;
  border-radius: .1cm;
  border: none;
  padding-inline: 15px;
  cursor: pointer;
  font-size: var(--xsm-font);
  transition: .2s;
}

::selection {
  background-color: var(--accent-color); 
  color: var(--primary-color); 
}

/* For Firefox, which uses a different selector */
::-moz-selection {
  background-color: var(--accent-color);
  color: #000;
}