.sub-nav{
    top: 70px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: red;
    z-index: 98;
}

.show-cart{
    position: fixed;
    top: 80px;
    right: 20px;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-color);
    z-index: 99;
}
