
.temp-btn-filter{
    margin-block: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.filter-btn{
    background: var(--bg-color);
    border: 2px solid transparent;
}
.filter-btn:hover{
    border: 2px solid var(--primary-color);
}
.filter-btn.active{
    background: var(--primary-color);
    color: var(--bg-color);
}

.filterable-cards{
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: .5s;
}
.template{
    border-radius:.1cm;
    width: 100%;
    max-width: 350px;
    min-height: 370px;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.template.hide{
    display: none;
}
.template .img{
    width: 100%;
    height: 200px;
    border-top-right-radius: .1cm;
    border-top-left-radius: .1cm;
}
.template .img img{
    height: 100%;
    width: 100%;
    border-top-right-radius: .1cm;
    border-top-left-radius: .1cm;
}

.temp-details{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.hello{
    color: lime;
}

.temp-details h3{
    font-weight: 600;
    font-size: var(--xsm-font);
}
.temp-details .btn-wrapper{
    margin-block: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.temp-details .btn-wrapper button{
    background: var(--primary-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    gap: 3px;
    & i{
        color: var(--accent-color);
    }
}
.temp-details .btn-wrapper button:hover{
    opacity: .8;
    color: var(--accent-color);
    & i{
        color: var(--bg-color);
    }
}
.temp-details .btn-wrapper button i{
    font-size: 20px;
}
.temp-feats ul li{
    list-style-type: none;
}
.temp-rating i {
    color: var(--secondary-color);
}