.bounce{
    animation:bounce 2s linear infinite;
}
.show .slide{
    animation:lightSpeedInLeft 2s linear;
}
.show .zoom{
    animation:flash 2s linear;
}
@keyframes arrowRight{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(30px);
    }
}
/*
ATTENTION SEEKERS
bounce
flash
pulse
rubberBand
shakeX
shakeY
headShake
swing
tada
wobble
jello
heartBeat

BACK ENTRANCE
backInDown
backInLeft
backInRight
backInUp

BACK EXIT
backOutDown
backOutLeft
backOutRight
backOutUp

BOUNCING ENTRANCES
bounceIn
bounceInDown
bounceInLeft
bounceInRight
bounceInUp

BOUNCING EXITS
bounceOut
bounceOutDown
bounceOutLeft
bounceOutRight
bounceOutUp

FADING ENTRANCES
fadeIn
fadeInDown
fadeInDownBig
fadeInLeft
fadeInLeftBig
fadeInRight
fadeInRightBig
fadeInUp
fadeInUpBig

FADING EXITS
fadeOut
fadeOutDown
fadeOutDownBig
fadeOutLeft
fadeOutLeftBig
fadeOutRight
fadeOutRightBig
fadeOutUp
fadeOutUpBig

FLIPPERS
flip
flipInX
flipInY
flipOutX
flipOutY

LIGHTSPEED
lightSpeedInLeft
lightSpeedInRight
lightSpeedOutLeft
lightSpeedOutRight

ROTATING ENTRANCES
rotateIn
rotateInDownLeft
rotateInDownRight
rotateInUpLeft
rotateInUpRight

ROTATING EXITS
rotateOut
rotateOutDownLeft
rotateOutDownRight
rotateOutUpLeft
rotateOutUpRight

SLIDING ENTRANCES
slideInDown
slideInLeft
slideInRight
slideInUp

SLIDING EXITS
slideOutDown
slideOutLeft
slideOutRight
slideOutUp

ZOOM ENTRANCES
zoomIn
zoomInDown
zoomInLeft
zoomInRight
zoomInUp

ZOOM EXITS
zoomOut
zoomOutDown
zoomOutLeft
zoomOutRight
zoomOutUp

SPECIALS
hinge
jackInTheBox
rollIn
rollOut
*/